---
import Layout from "../layouts/Default.astro";
---

<Layout title="LOS PAMPA">
	<main class="space-y-8">
		<div
			class="flex flex-col items-center justify-center gap-4 lg:flex-row"
		>
			<img
				src="/lospampa.png"
				alt="Lospampa logo"
				width="256"
			/>
			<hgroup class="text-center">
				<h1 class="text-4xl">Systems Optimization Laboratory</h1>
				<p class="text-center">
					Department of Computer Science | Federal University of Pampa
				</p>
			</hgroup>
		</div>
		<section>
			<p>
				With the increase in demand for services made available through
				embedded systems (e.g., tablets and smartphones, automobiles,
				biomedical instruments) and the imminent growth of systems that
				provide interconnection between such devices (e.g., wireless
				networks, 4G, 5G, bluetooth technology) , there is a need for
				training professionals to work in the development of the area.
				In this sense, the group seeks to model and develop
				computational systems (e.g., methods and algorithms) that aim to
				optimize the solution of complex problems involving hardware and
				software components in the broad areas of embedded systems and
				computer networks. In particular, the group's work is very
				focused on the development of technologies and applications that
				have a strong possibility of appropriation by national companies
				in conjunction with the production of scientific work with
				national and international impact.
			</p>
		</section>
		<section>
			<h2 class="text-xl">
				We are currently carrying out research in the following areas:
			</h2>
			<ul class="list-inside list-disc pl-8">
				<li>Parallel Computing,</li>
				<li>Heterogeneous Multicore Architectures,</li>
				<li>Software-defined networking,</li>
				<li>Cloud computing</li>
			</ul>
		</section>
	</main>
</Layout>
