---
import Layout from "../layouts/Layout.astro";
---

<Layout title="LOS PAMPA - Projects">
	<main class="space-y-8">
		<h1 class="text-5xl font-bold">Projects</h1>

		<a
			href="https://github.com/lospampa"
			target="_blank"
			class="bg-primary rounded-md px-4 py-2 font-bold text-white"
		>
			Go here
		</a>
	</main>
</Layout>
